<!DOCTYPE html>
<html>
  <head>
    <title> Ganador </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Las fichas <%= ganador %> ganan!</h1>
  </body>
</html>
