<!DOCTYPE html>
<html>
  <head>
    <title> Ganador </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Mostrar el tipo de fichas ganadoras, en función de la comprobación (Blancas o Negras) -->
    <h1> Las fichas <%= ganador %> ganan!</h1>
  </body>
</html>
